@import "./footer.css";
@import "./head.css";
@import "./leftContainer.css";
@import "./rightContainer.css";
@import "./contactForm.css";




@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

a:link {color: blue;}
a:visited {color: purple;}

img {
	max-width:100%;
	height:auto;
}
.navBar img{
	max-width:100%;
	height:auto;
}

/* p:first-letter{
	display:block;
	float:left;
	margin:3px;
	color:#f00;
	font-size:300%;
} */

/* .mainLeftContainer {
	display: flex;
	flex-basis: 100%;
} */
.leftContainer {
	display: flex;
}
footer {
	display:flex;
	border: 2px solid black;
}
.github {
	
	margin: auto;
        /* float: right; */
        width:100%;
        padding: 12px 40px;
        /* margin: 8px 0; */
        box-sizing: border-box;
        /* border: 2px solid black; */
        border-radius: 4px;
		text-align: center;
		font-size: 16px;
}
.copyright {
	margin: auto;
        /* float: right; */
        width:100%;
        padding: 12px 40px;
        /* margin: 8px 0; */
        box-sizing: border-box;
        /* border: 2px solid black; */
        border-radius: 4px;
		text-align: center;
		font-size: 16px;
}

 body {
	 background-color: #99afd7;
} 

